<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">



        {{ partial "nav.html" . }}

        {{ partial "hero.html" . }}

        {{ partial "calamares.html" . }}

        {{ partial "mate.html" . }}

        {{ partial "applications.html" . }}

        {{ partial "quickfeatures.html" . }}

        {{ partial "posthome.html" . }}

        {{ partial "js.html" . }}
    </body>
</html>
