<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
        {{ partial "head.html" . }}

		<style>
		.body-subpage {
		background-color: #f9f9f9;
		}
		</style>

    </head>
	<body id="downloads" class="body-subpage">

		{{ partial "nav.html" . }}
		<!-- <header class="subpage-header"> -->
   			{{ partial "download-nav.html" . }}
		<!-- </header> -->
			<section>
	    <div class="container text-center">
				<h2>Namib GNU/Linux {{ .Params.name }}</h2>
				<hr class="star-primary" />
                <a href="{{ .Site.BaseURL }}/img/editions/{{ .Params.screenshot }}" target="_blank"><img src="{{ .Site.BaseURL }}/img/editions/{{ .Params.thumbnail }}" class="img-responsive img-centered" alt=""></a>
				<br/>
                <p>{{ .Params.shortdescription | markdownify }}</p>
                <p>{{ .Content | markdownify }}</p>

								<h2>Download</h2>
								<hr class="star-primary"/>

								<!-- {{ range (where .Site.Pages ".Type" "download-additional-info-pre")}}
									<p>{{ .Content | replaceRE ";torrent-x64;" $.Params.Download_sourceforge_torrent | replaceRE ";torrent-x86;" $.Params.Download_osdn_torrent | replaceRE ";baseurl;" .Site.BaseURL | markdownify }}
								{{ end }} -->

								<ul class="flex-grid download-edition-grid">
									<li class="flex-item">
								    <div class="content">
											<div class="top">
												<img src="{{ .Site.BaseURL }}/img/download/sourceforge.svg" alt="Icon" style="width: 200px; height: 200px;" />
									      <h3>{{ .Site.Params.download_edition.Download_sourceforge_title }}</h3>
									      <hr/>
											</div>
											<div class="bottom">
												<div style="margin-top: auto; margin-bottom: 10px;">
													<a href="{{ .Params.Download_sourceforge }}" class="btn btn-primary btn-xl" target="_blank" >{{ .Site.Params.download_edition.Download_sourceforge_button }}</a>
													<p>{{ with .Params.Download_sourceforge_torrent }} <a href="{{ . }}" target="_blank">{{ $.Site.Params.download_edition.download_torrent }}</a>{{end}}</p>
												<div>
												<div style="margin-top: auto; margin-bottom: 10px; font-size: 12px;">
													{{ with .Params.Download_sourceforge_sig }} <a href="{{ . }}" target="_blank">{{ $.Site.Params.download_edition.download_gpg }}</a>{{end}}<br/>
													SHA1: {{ .Params.Download_sourceforge_checksum }}
												<div>
											</div>
								    </div>
								  </li>
									<li class="flex-item">
								    <div class="content">
											<div class="top">
												<img src="{{ .Site.BaseURL }}/img/download/osdn.svg" alt="Icon" style="width: 200px; height: 200px;" />
									      <h3>{{ .Site.Params.download_edition.Download_osdn_title }}</h3>
									      <hr/>
											</div>
											<div class="bottom">
												<div style="margin-top: auto; margin-bottom: 10px;">
													<a href="{{ .Params.Download_osdn }}" class="btn btn-primary btn-xl" target="_blank" >{{ .Site.Params.download_edition.Download_osdn_button }}</a>
													<p>{{ with .Params.Download_osdn_torrent }} <a href="{{ . }}" target="_blank">{{ $.Site.Params.download_edition.download_torrent }}</a>{{end}}</p>
												<div>
												<div style="margin-top: auto; margin-bottom: 10px; font-size: 12px;">
													{{ with .Params.Download_osdn_sig }} <a href="{{ . }}" target="_blank">{{ $.Site.Params.download_edition.download_gpg }}</a>{{end}}<br/>
													SHA1: {{ .Params.Download_osdn_checksum }}
												<div>
											</div>
								    </div>
								  </li>
								</ul>


								{{ range (where .Site.Pages ".Type" "download-additional-info-post")}}
									<p>{{ .Content | replaceRE ";torrent-x64;" $.Params.Download_sourceforge_torrent | replaceRE ";torrent-x86;" $.Params.Download_osdn_torrent | replaceRE ";baseurl;" .Site.BaseURL | markdownify }}
								{{ end }}
		</div>
		</section>

        {{ partial "js.html" . }}

	</body>

</html>
