{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jquery.js"></script>
{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/bootstrap.js"></script>
{{ "<!-- Plugin JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jquery.easing.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.fittext.js"></script>
<script src="{{ .Site.BaseURL }}js/wow.min.js"></script>
{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/creative.js"></script>


<script type="text/javascript" >

	function highlight_current_nav() {
		//$("a[href='" + location.href + "']").parent().addClass("active");
		
		$("a").each(function (index) {
			
			
			var navtype = this.hasAttribute("nav-type") ? this.getAttribute("nav-type") : "unprecise";
			
			if (navtype.toLowerCase() == "unprecise") {
			
				var href = this.href.endsWith("/") ? this.href : this.href + "/";		
				if( location.href.startsWith(href))
				{
					$(this).parent().addClass("active");
				}	
			}
			else if (navtype.toLowerCase() == "super-unprecise") {
				
				var href = this.href.endsWith("/") ? this.href.slice(0,-1) : this.href;		
				
				if( location.href.startsWith(href))
				{
					$(this).parent().addClass("active");
				}	
			}
			else {
				var href = this.href.endsWith("/") ? this.href : this.href + "/";		
				if( location.href == href )
				{
					$(this).parent().addClass("active");
				}
			}
			
					
				
		});
		
	}
    
    function modify_links()
    {
        // All links should be in "page-scroll" class, so they scroll smoothly if they target a local section
        // All foreign links should be target=_blank (otherwise traget=_self)
        // This function is needed due to missing ability to set target in Markdown. Also it's convenient AF
        
        // Markdown doesn't support download buttons; javascript searches for specific patterns in the link text and adds specific classes based on this
        
        $("a").each(function(index) {
           
            $(this).addClass("page-scroll");
            
            if(this.href.startsWith("#") || this.href.startsWith(location.origin)) {
                $(this).attr("target", "_self");
            }
            else {
                $(this).attr("target", "_blank");
            }
            
            if(this.text.endsWith("#download-primary-xl#")) {
                this.text = this.text.slice(0,-"#download-primary-xl#".length);
                $(this).addClass("btn");
                $(this).addClass("btn-primary");
                $(this).addClass("btn-xl");
            }
        });
        
    }    
    
	
	$( document ).ready(highlight_current_nav);
    $( document ).ready(modify_links);
</script>