<section>
    <div class="container">
        <div class="row">
            <div class="news-post text-center" >
               
                
                {{ with $.Params.image }}
				<img src="{{ $.Site.BaseURL }}/img/sponsor/{{ . }}" alt="" />
				{{ end }}       
				
				<h3><a href="{{ .Params.sponsorurl }}" target="_blank">{{ .Params.name }}</a></h3>  
				
				<p>... {{ .Params.reason }}</p> 
                <hr />   
                </div>
            </div>
        </div>
    </div>
</section>