<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
        {{ partial "head.html" . }}

		<style>
		.body-subpage {
		background-color: #f9f9f9;
		}
		</style>

    </head>
	<body id="news" class="body-subpage">

		{{ partial "nav.html" . }}

		<!-- <header class="subpage-header"> -->
   			{{ partial "get-involved-nav.html" . }}
		<!-- </header> -->

		<h2 class="text-center">Our core team</h2>
		{{ range sort (where (where .Site.Pages ".Type" "team-post") ".Params.active" true) ".Params.name" "asc" }}

			{{ partial "team-post.html" . }}

		{{ end }}

		<h2 class="text-center">Former/inactive members</h2>

		{{ range sort (where (where .Site.Pages ".Type" "team-post") ".Params.active" false) ".Params.name" "asc" }}

			{{ partial "team-post.html" . }}

		{{ end }}

		{{ partial "js.html" . }}
	</body>

</html>
