<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
	{{ partial "head.html" . }}

</head>

<body id="donate" class="body-subpage">

	{{ partial "js.html" . }} {{ partial "nav.html" . }}
	<!-- <header class="subpage-header"> -->
	{{ partial "get-involved-nav.html" . }}
	<!-- </header> -->

	<section id="donate">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h2 class="section-heading">{{ .Title }}</h2>
					<hr class="primary">
					<div class="features-post">
						<p>{{ .Content | replaceRE ";baseurl;" .Site.BaseURL | markdownify }}
					</div>
					<ul class="flex-grid">
					  <li class="flex-item">
					    <div style="width: 100%; text-align: center; border: 1px solid #ddd;">
								<div style="width: 200px; height: 200px; display: inline-block; position: relative">
									<img src="{{ .Site.BaseURL }}/img/donation/de-pp-logo-200px.png" alt="Icon" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;" />
								</div>
					      <h3>{{ .Params.donate_paypal_title }}</h3>
					      <hr/>
								<form id="donation_paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
									<input type="hidden" name="cmd" value="_s-xclick">
									<input type="hidden" name="hosted_button_id" value="285DP9MTERH32">
									<a href="#" onclick="donation_paypal.submit();" class="btn btn-primary btn-xl" style="margin-bottom: 10px;">{{ .Params.button_donate_text }}</a>
								</form>
					    </div>
					  </li>
					  <li class="flex-item">
					    <div style="width: 100%; text-align: center; border: 1px solid #ddd;">
									<div style="width: 200px; height: 200px; display: inline-block; position: relative">
					      		<img src="{{ .Site.BaseURL }}/img/donation/bitcoin.svg" alt="Icon" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;" />
									</div>
					      <h3>{{ .Params.donate_bitcoin_title }}</h3>
					      <hr/>

								<a href="#" id="donation-manually-show" class="btn btn-primary btn-xl" style="margin-bottom: 10px;">{{ .Params.button_donate_text }}</a>

					      <div style="text-align: justify; width: 80%; display: inline-block; margin-bottom: 10px">

									<div id="donation-manually-data">
									<table  class="dontation-manually-card">
										<tr>
											<td class="donation-manually-field" >Address</td>
											<td>{{ with $.Site.Params.donate.bitcoin.address }}{{.}}{{ end }}</td>
										</tr>
									</table>
									<div>

					      </div>
					    </div>
					  </li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<script>
	$("#donation-manually-data").hide();
	$("#donation-manually-show").click( function (e) {
		$("#donation-manually-data").toggle(500);
		e.preventDefault();
	});
	</script>

</body>

</html>
