<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{{ .Site.BaseURL }}"> <img src="{{ .Site.BaseURL }}/img/namib-logo.svg" /> {{ with .Site.Params.navigation.main.brand }}{{ . | markdownify }}{{ end }}</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li id="javascript-warning">
                    <a class="page-scroll" href="{{ .Site.BaseURL }}" style="color: #f00;"> <noscript>Please enable JavaScript to enable all functions of this site</noscript></a>
                </li>

                <li>
                    <a class="page-scroll" href="https://forum.meerkat.tk/" nav-type="super-unprecise">{{ with .Site.Params.navigation.main.news }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ .Site.BaseURL }}features">{{ with .Site.Params.navigation.main.services }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ .Site.BaseURL }}download">{{ with .Site.Params.navigation.main.download }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ .Site.BaseURL }}support">{{ with .Site.Params.navigation.main.support }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ .Site.BaseURL }}get-involved">{{ with .Site.Params.navigation.main.getinvolved }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ .Site.BaseURL }}donate" active-section="#donate">{{ with .Site.Params.navigation.main.donate }}{{ . }}{{ end }}</a>
                </li>

      			   	<li class="dropdown locale">
      			      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{ .Site.BaseURL}}/img/locale/language.svg" /> {{ .Site.Params.language.current }} <span class="caret"></span></a>
      			      <ul class="dropdown-menu">
                    {{ range .Site.Params.language.available}}
      			        <li>
      			          <a href="{{ .url }}" target="_self">{{ .name }}</a>
      			        </li>
                    {{ end }}
      			      </ul>
      			    </li>


            </ul>
        </div>
    </div>
</nav>
