<section>
    <div class="container">
        <div class="row">
            <div class="news-post">
                <h2 class="section-heading"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                <hr class="star-primary"/>
                
                <p class="meta">By {{ .Params.author }} on {{ dateFormat "Monday, Jan 2, 2006" .Date }}</p>
                
                <div class="news-post-content" >		                
                	<p>{{ .Content | markdownify }}
                </div>
                
                <hr/>
            </div>
        </div>
    </div>
</section>