{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            {{ range (where .Site.Pages ".Type" "support-quick-contact") }}
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!-- <h2 class="section-heading">Do you need more help? Contact us!</h2>
                <hr class="primary">
                <p>Our team and our community can help via a variety of different channels.<br/>
Write as a mail or ask other users via chat or forums. We will be glad to help you!</p> -->


                  <p>{{ .Content | replaceRE ";baseurl;" .Site.BaseURL | markdownify  }}


            </div>


            {{ range .Params.contacts }}
            <div class="col-lg-4 text-center">
                <!--<i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>-->
                <img src="{{ .img | replaceRE ";baseurl;" $.Site.BaseURL }}" class="wow bounceIn"/>
                <p><a href="{{ .link | replaceRE ";baseurl;" $.Site.BaseURL }}">{{ .name }}</a></p>
            </div>
            {{ end }}

            {{ end }}

        </div>
    </div>
</section>
