<section>
    <div class="container">
        <div class="row">
            <div class="news-post text-center" >

                <h3>{{ .Params.name }}</h3>
                <hr />

                <div style="text-align: left;">

					<table class="dontation-manually-card">
						{{ with $.Params.alias }}
						<tr>
							<td class="team-field" >{{$.Site.Params.team.alias}}</td>
							<td>{{ . }}</td>
						</tr>
						{{ end }}
						{{ with $.Params.role }}
						<tr>
							<td class="team-field" >{{$.Site.Params.team.role}}</td>
							<td>{{ . | replaceRE ", " "<br/>" | markdownify }}</td>
						</tr>
						{{ end }}
						{{ with $.Params.involements }}
						<tr>
							<td class="team-field" >{{$.Site.Params.team.involvements}}</td>
							<td>{{ . | replaceRE ", " "<br/>" | markdownify }}</td>
						</tr>
						{{ end }}
						{{ with $.Params.email }}
						<tr>
							<td class="team-field" >{{$.Site.Params.team.email}}</td>
							<td>{{ . }}</td>
						</tr>
						{{ end }}
						{{ with $.Params.languages }}
						<tr>
							<td class="team-field" >{{$.Site.Params.team.languages}}</td>
							<td>{{ . | replaceRE ", " "<br/>" | markdownify }}</td>
						</tr>
						{{ end }}
						{{ with $.Params.location }}
						<tr>
							<td class="team-field" >{{$.Site.Params.team.location}}</td>
							<td>{{ . }}</td>
						</tr>
						{{ end }}
						{{ with $.Params.yearofbrith }}
						<tr>
							<td class="team-field" >{{$.Site.Params.team.yob}}</td>
							<td>{{ . }}</td>
						</tr>
						{{ end }}
					</table>

                </div>
            </div>
        </div>
    </div>
</section>
