<section class="bg-primary" id="about">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-8 col-lg-offset-2 text-center">

									{{ range (where .Site.Pages ".Type" "index-usercases")}}
	                <h2 class="section-heading">{{ .Title }}</h2>
	                <hr class="light">
	                <p class="text-faded">{{ .Content | markdownify }}</p>
									{{ end }}
	                <br />
	            </div>
	        </div>
	    </div>
	</section>

<section class="no-padding" id="usercases">
    <div class="container-fluid">
        <div class="row no-gutter">
            {{ range (where .Site.Pages ".Type" "usercase-post") }}<div class="col-lg-4 col-sm-6">
                <a href="{{ .Permalink }}" class="usercases-box usercases-link">
                    <img src="{{ printf "%s/img/usercases/%s" $.Site.BaseURL .Params.image }}" class="img-responsive" alt="">
                    <div class="usercases-box-caption-extended">
                        <div class="usercases-box-caption-extended-content">
                            <div class="quote">
                                "{{ .Params.quote }}" <div style="font-weight: 100">- {{ .Params.quoteauthor }} -</div>
                            </div>
                        </div>
                    </div>
                    <div class="usercases-box-caption-small">
                        <div class="usercases-box-caption-small-content">
                            <div class="name">
                                {{ .Params.name }}
                            </div>
                        </div>
                    </div>
                    <div class="usercases-box-caption-extended-subtitle">
                        <div class="usercases-box-caption-extended-subtitle-content">
                            <div class="action">
                                Click to find out more
                            </div>
                        </div>
                    </div>
                </a>
            </div>{{ end }}

        </div>
    </div>
</section>
