<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
        {{ partial "head.html" . }}

		<style>
		.body-subpage {
		background-color: #f9f9f9;
		}
		</style>


    </head>
	<body id="news" class="body-subpage">

		{{ partial "nav.html" . }}

		<!-- <header class="subpage-header"> -->
   			{{ partial "news-nav.html" . }}
		<!-- </header> -->

		{{ range first 5 (where .Site.Pages ".Type" "news-post") }}

			{{ partial "news-post.html" . }}

		{{ end }}

		{{ partial "js.html" . }}
	</body>

</html>
