<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
        {{ partial "head.html" . }}

		<style>
		.body-subpage {
		background-color: #f9f9f9;
		}
		</style>

    </head>
	<body id="features" class="body-subpage">

		{{ partial "nav.html" . }}
		<!-- <header class="subpage-header"> -->
   			{{ partial "support-nav.html" . }}
		<!-- </header> -->

		<section>
		    <div class="container">
		        <div class="row">
		            <div class="text-center">
		                <h2 class="section-heading">{{ .Title }}</h2>
		                <hr class="star-primary"/>

		                <div class="support-post" >
		                	<p>{{ .Content | replaceRE ";baseurl;" .Site.BaseURL | markdownify  }}

                            <table>
                                <thead>
                                <tr>
                                <th></th>
                                <th></th>
                                </tr>
                                </thead>
                                <tbody>
																		{{ range .Params.support_categories }}
                                    <tr>
                                    <td><img src="{{ $.Site.BaseURL }}/img/commonproblems/{{ .icon }}" alt="Icon" /></td>
                                    <td><strong>{{ .name }}</strong></td>
                                    </tr>
                                    {{ range (where (where $.Site.Pages ".Type" "problem-post" ) ".Params.category" .category ) }}
                                    <tr>
                                    <td></td>
                                    <td>• <a href="{{ .Permalink }}">{{ .Title }}</a></td>
                                    </tr>
                                    {{ end }}
																		{{ end }}
                                </tbody>
                            </table>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>

		{{ partial "js.html" . }}
	</body>

</html>
